<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Image Producer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C001BCE72FE6B4F60028267A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C001BCF82FE6B4F70028267A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C001BD022FE6B4F80028267A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
